@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "layout";
@import "navbar";

.index {
    position: relative;
    min-height: 350px;
    background: url("../images/home.jpg") no-repeat scroll 0px 100% / cover transparent;
}

.maintitle {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.title {
    font-size: 1.2rem;
    color: gray;
}

@media only screen and (max-width: 410px) {
    #footerSidip {
        display: none;
    }

    .index {
        position: relative;
        min-height: 430px;
        background: url("../images/home.jpg") no-repeat scroll 0px 0% / cover transparent;
    }

    .maintitle {
        font-size: 1.5rem;
    }

    .title {
        font-size: 0.8rem;
        color: gray;
    }
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
}

.nav {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

.nav:last-child {
    margin-right: 0;
}

.nav:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav:hover {
    color: white;
}

.nav:hover:after {
    width: 100%;
    background: white;
}